@model WebFormacion.Models.Historial

@{
    ViewData["Title"] = "Modificar Historial de Contacto";
}

<h2 class="tit text-center mt-md5 mt-2 mb-5">Modificar Historial de Contacto</h2>

<div class="mt-5 d-flex flex-row justify-content-end">
    <a asp-action="Index" class="btnVolver d-flex flex-row justify-content-center flex-wrap">
        <img src="~/img/volver_listado.png" alt="Volver al Listado" class="iconoVolver text-center" />
        <span class="align-self-center text-center">Volver al Listado</span>
    </a>
</div>

<div class="row box-lighter mt-3 mb-5 p-lg-5 p-md-2 pt-5 pb-5 pl-1 pr-1">
    <div class="col-sm-6 col-12 ml-auto mr-auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HistorialID" />

            <div class="form-group">
                <label asp-for="HistorialID" class="control-label  negrita"></label>
                <input asp-for="HistorialID" class="form-control" />
                <span asp-validation-for="HistorialID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AlumnoID" class="control-label  negrita"></label>
                <select asp-for="AlumnoID" class="form-control" asp-items="ViewBag.AlumnoID"></select>
                <span asp-validation-for="AlumnoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactoID" class="control-label  negrita"></label>
                <select asp-for="ContactoID" class="form-control" asp-items="ViewBag.ContactoID"></select>
                <span asp-validation-for="ContactoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CursoID" class="control-label  negrita"></label>
                <select asp-for="CursoID" class="form-control" asp-items="ViewBag.CursoID"></select>
                <span asp-validation-for="CursoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label  negrita"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medio" class="control-label  negrita"></label>
                <input asp-for="Medio" class="form-control" />
                <span asp-validation-for="Medio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label  negrita"></label>
                <input asp-for="Mensaje" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Guardar Cambios" class="btn boton" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
