@model WebFormacion.Models.Alumno

@{
    ViewData["Title"] = "Crear Nuevo Alumno";
}

<h2 class="tit text-center mt-md5 mt-2 mb-5">Crear Nuevo Alumno</h2>

<div class="mt-5 d-flex flex-row justify-content-end">
    <a asp-action="Index" class="btnVolver d-flex flex-row justify-content-center flex-wrap">
        <img src="~/img/volver_listado.png" alt="Volver al Listado" class="iconoVolver text-center" />
        <span class="align-self-center text-center">Volver al Listado</span>
    </a>
</div>

<div class="row box-lighter  mt-3 mb-5 p-lg-5 p-md-2 pt-5 pb-5 pl-1 pr-1">
    <div class="col-sm-6 col-12 ml-auto mr-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlumnoID" class="control-label negrita"></label>
                <input asp-for="AlumnoID" class="form-control" />
                <span asp-validation-for="AlumnoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label negrita"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido1" class="control-label negrita"></label>
                <input asp-for="Apellido1" class="form-control" />
                <span asp-validation-for="Apellido1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido2" class="control-label negrita"></label>
                <input asp-for="Apellido2" class="form-control" />
                <span asp-validation-for="Apellido2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label negrita"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label negrita"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group mt-5">
                <input type="submit" value="Crear Nuevo Alumno" class="btn  boton" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
